@import url(../../../normalize.css);
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: auto;
  position: relative;
}

.clear {
  clear: both;
}

.header {
  border-bottom: 1px solid #9c9c9c;
  overflow: hidden;
  padding: 20px 0;
}

.header .logo {
  float: left;
  width: 30%;
}

.header .navbar {
  background-color: #e2494c;
  float: left;
  width: 70%;
  border-radius: 15px;
  padding: 15px 0;
}

.header li {
  padding: 10px 15px;
  color: #fff;
  width: 20%;
  float: left;
  font-size: 15px;
  display: block;
}

.header li a {
  color: #fff;
  text-decoration: none;
}

.header li a:hover {
  color: black;
}

.head-border {
  position: relative;
}

.head-border h2 {
  background-color: #e2494c;
  text-align: center;
  color: #fff;
  margin: 40px auto;
  border-radius: 15px;
  padding: 15px 10px;
  max-width: 300px;
}

.head-border h2::before {
  content: "";
  background-color: #9c9c9c;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0%;
  z-index: -1;
}

.main-btn {
  background: #e2494c;
  padding: 10px 15px;
  border-radius: 10px;
  color: #fff;
  text-decoration: UpperCase;
  text-align: center;
  width: 150px;
}

input {
  margin: 10px 0;
}

body {
  font-family: Cairo;
  font-size: 16px;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slider blockquote {
  font-family: tahoma;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.7;
  width: 80%;
  margin: 30px auto;
}

.slider .bullets {
  text-align: center;
}

.slider .bullets img {
  width: 100%;
}

.slider .bullets li {
  width: 20px;
  height: 20px;
  background-color: #9c9c9c;
  border-radius: 50%;
  display: inline-block;
  border: 3px solid #9c9c9c;
}

.slider .bullets li.active {
  border: 3px solid black;
}

.servies .servies-box {
  float: left;
  width: 33.33333%;
}

.servies .servies-box h3 i {
  margin-right: 15px;
  font-size: 30px;
}

.servies .servies-box p {
  color: #777;
}

.servies .servies-box a {
  color: #e2494c;
  text-decoration: none;
}

.our-player .player-box {
  float: left;
  width: 20%;
}

.our-player .player-box h3 {
  font-weight: 500;
}

.our-player .player-box h3 span {
  font-weight: 700;
}

.our-player .player-box h3 i {
  margin-right: 15px;
  font-size: 30px;
}

.our-player .player-box p {
  color: #777;
}

.our-player .player-box a {
  color: #e2494c;
  text-decoration: none;
}

.lorem {
  overflow: hidden;
  min-height: 380px;
}

.lorem .lorem-box {
  float: left;
  width: 31.33333%;
  max-height: 50px;
}

.lorem .lorem-box:not(:last-of-type) {
  margin-right: 3%;
}

.lorem .lorem-box .lorem-img {
  max-width: 100%;
}

.footer .latesed {
  float: left;
}

.footer .img-box {
  float: left;
}

.main-btn {
  background: #e2494c;
  padding: 10px 15px;
  border-radius: 10px;
  color: #fff;
  text-decoration: UpperCase;
  text-align: center;
  width: 150px;
}

input {
  margin: 10px 0;
}

.footer {
  background: #f8f9fa !important;
  overflow: hidden;
  margin-top: 60px;
  padding: 24px 0;
}

.footer .latesed,
.footer .company,
.footer .contact-us {
  float: left;
}

.footer .latesed {
  width: 50%;
}

.footer .latesed .text {
  float: left;
}

.footer .latesed .img-box img {
  width: 100px;
  float: left;
}

.footer .latesed .img-box .text {
  margin: 0 15px;
  width: calc(100% - 130px);
}

.footer .latesed .img-box .text h4,
.footer .latesed .img-box .text p {
  margin-top: 0;
  margin-bottom: 10px;
}

.footer .company,
.footer .contact-us {
  width: 25%;
}
/*# sourceMappingURL=homepage.css.map */